/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use "variables.scss" as var;

:host {
    position: relative;
}

.actions {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;

    button {
        background-color: var(--mat-sys-surface);
    }
}

.spinner {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100% - /** next/previous */ 54px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.12);
}

json-editor {
    height: calc(100vh
        - var.$top-menu-height
        - /** next/previous */ 54px
        - /** header */ 53px
        - /** spacing (padding around .collection + gap before form) */ 30px);

    ::ng-deep .jsoneditor-modes {
        display: none;
    }
}
