/*
Licensed to Gisaïa under one or more contributor
license agreements. See the NOTICE.txt file distributed with
this work for additional information regarding copyright
ownership. Gisaïa licenses this file to you under
the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/
.card {
    max-width: 280px;
    min-width: 280px;
    border-radius: 0px;
    color: black;
    min-height: 50px;
    padding: 16px 0;
    overflow: hidden;
    height: 340px;

    @mixin group() {
        color: #666;
        font-size: 0.7em;
        min-height: 24px;
        padding: 12px 8px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        ::ng-deep .mat-card-header-text {
            margin: 0;
            width: 175px;
        }

        .mat-card-avatar {
            font-size: 28px;
        }

        ::ng-deep .mat-card-title {
            font-weight: 400;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        ::ng-deep .mat-card-title:hover {
            text-decoration: underline;
        }

        .subtitle {
            font-variant: small-caps;
            font-size: 0.75rem;
        }

        .config-menu {
            margin-top: -8px;
            margin-right: -8px;
        }
    }

    .preview {
        max-width: 280px;
        height: 140px;

        .image {
            width: 100%;
            background-color: rgb(211, 211, 211);
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .highlights {
                display: block;
                position: absolute;
                padding: 5px 10px;
                height: 140px;
                width: 260px;
                background-color: rgba(255, 255, 255, 0.55);
                overflow: hidden;

                .highlight {
                    font-style: italic;
                    font-size: 0.8em;
                }
            }
        }

        &.no-preview {
            .image {
                opacity: 0.5;
            }

            &:hover {
                .highlights {
                    height: 140px;
                    background-color: rgba(255, 255, 255, 0.8);
                }

                .image {
                    opacity: 1;
                }
            }
        }
    }

    .section_title {
        font-variant: small-caps;
    }

    .groups {
        margin-bottom: 5px;
        /*border-bottom: 1px solid #999;*/
        padding: 5px 10px 0;

        ::ng-deep .mat-chip-list-wrapper {
            margin: 0 -4px;
        }

        .organisation {
            color: rgba(0, 0, 0, 0.9);
            font-size: 0.7em;
            min-height: 24px;
            padding: 12px 8px;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.9);
        }

        .group {
            @include group();

            &.mygroup {
                background-color: #959595;
                color: white;
            }
        }
    }

    .highlights {
        display: none;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 5px 1px 0;
        right: 0;

        .date {
            font-size: 0.75em;
            color: rgba(0, 0, 0, 0.55);
        }
    }
}