.card {
    max-width: 240px;
    min-width: 240px;

    color: black;
    margin: 5px 8px;
    min-height: 50px;
    height: calc(100% - 52px);

    @mixin group() {
        color: #666;
        font-size: 0.8em;
        min-height: 24px;
        padding: 12px 8px;
    }

    .header {
        display: flex;
        justify-content: space-between;

        .status{
            padding-right: 5px;
        }

        ::ng-deep .mat-card-header-text {
            margin: 0;
        }

        ::ng-deep .mat-card-title{
            font-weight: 400;
        }

        .config-menu {
            margin-top: -8px;
        }
    }

    .groups {
        margin-bottom: 5px;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        padding: 5px 0;

        ::ng-deep .mat-chip-list-wrapper{
            margin: 0 -4px;
        }

        .group {
            @include group();
        }
    }

    .highlights {
        margin-bottom: 35px;
        .group {
            @include group();
        }
        .highlight {
            font-style: italic;
            font-size: 0.8em;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px;
        right: 0;

        .date {
            font-size: 0.75em;
            color: rgba(0, 0, 0, 0.55);
        }
    }
}
