/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "variables.scss";


:host {
    display: block;
    height: 100%;
    overflow: hidden;
}
$collection-title-height: 28px;
h2 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    display: flex;

    gap: 0 10px;
    background-color: white;
    margin: 10px 0;
    padding: 10px 10px 10px 20px;
}

.dynamic-hub {
    padding: 10px 20px;
    max-height: 100%;
    overflow-x: scroll;
    &__spinner {
        margin: 5px 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        height: $header-height;
        .organisations {
            min-width: 200px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            padding: 7px 5px;
            border-radius: 5px;
            font-weight: 400;
            font-size: 16px;
            background-color: white;
        }
    }
    &__content {
        display: flex;
        gap: 0 10px;
        .dashboards {
            display: flex;
            gap: 10px 0;
            flex-direction: column;
            flex: 4;
        }
        .dashboard {
            &-title {
                min-width: 265px;
            }
            .cards {
                display: grid;
                gap: 5px 8px;
            }

            .no-card {
                background-color: #fafafa;
                padding: 10px;
                border: 1px solid rgba(#054ada, 0.12);
                color: rgba(0, 0, 0, 0.7);
            }
        }
        .collection {
            flex: 1;

            &-wrapper {
                height: calc(100vh - ($top-menu-height + $header-height));
                position: sticky;
                width: 100%;
                top: $header-height;
            }

            .cards {
                padding-top: 1px;
                height: calc(100% - 90px); // top menu height + dynamic hub header height + collection h2 height
                overflow-x: hidden;
                overflow-y: scroll;
                & .scroll-hider {
                    position: absolute;
                    background: #F5F5F5;
                    height: 100%;
                    top: 0;
                    right: 0;
                    width: 6px;
                    -webkit-transition: all .5s;
                    opacity: 1;
                }
                &:hover .scroll-hider {
                    opacity: 0;
                    -webkit-transition: all .5s;
                }

                .card {
                    margin: 4px 0px;
                    border-radius: 0px;
                    padding: 8px 15px;
                    cursor: pointer;
                    box-shadow: none;

                    ::ng-deep .mat-card-header-text {
                        margin: 0;
                    }

                    ::ng-deep .mat-checkbox-inner-container {
                        display: none;
                    }

                    &.disabled {
                        border-color: whitesmoke !important;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }
    }
}

.add-button {
    color: $primaryColor;
    background-color: white;
    min-width: 40px;
    padding: 2px 10px;
    line-height: 24px;

    &:focus {
        background-color: transparent !important;
    }

    &--icon {
        font-size: 20px;
        width: 20px;
        height: 20px;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

.collapse {
    height: 30px;
    margin-left: auto;
}

.paginator {
    background-color: #fafafa;
}

@media only screen and (min-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

/* Medium devices such as tablets (768px and up)*/
@media only screen and (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices such as laptops (1024px and up)*/
@media only screen and (min-width: 1024px) {
    .cards  {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Largest devices such as desktops (1280px and up)*/
@media only screen and (min-width: 1280px) {
    .cards  {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Largest devices such as desktops (1280px and up)*/
@media only screen and (min-width: 1580px) {
    .cards  {
        grid-template-columns: repeat(4, 1fr);
    }
}
