@import 'variables.scss';

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-button{
    margin-left: 10px;
    color: $primaryColor;

    &:focus{
        background-color: transparent !important;
    }

    .icon:hover{
        opacity: 0.5;
    }
}

.paginator {
    background-color: #fafafa;
}
