/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.collection {
    padding: 10px;
    display: flex;
    flex-direction: column;
    &__title {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        gap: 0 10px;
        &__display-name {
            font-size: 22px;
            font-weight: bold;
        }
        &__name {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.65);
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 20px;
        &__visibility {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 15px;
            min-width: 250px;
            &__title {
                font-size: 16px;
                font-weight: 500;
                padding: 5px 0 10px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                gap: 5px 0;
                &__item {
                    display: flex;
                    font-size: 14px;
                    justify-content: space-between;
                    .prop {
                        text-decoration: underline;
                        text-transform: lowercase;
                    }
                    .value {
                    }
                }
            }
        }
        &__params {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 15px;
            min-width: 250px;
            &__title {
                font-size: 16px;
                font-weight: 500;
                padding: 5px 0 10px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                gap: 5px 0;
                &__item {
                    display: flex;
                    font-size: 14px;
                    justify-content: space-between;
                    .prop {
                        text-decoration: underline;
                        text-transform: lowercase;
                    }
                    .value {
                    }
                }
            }
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        padding: 5px 20px;
    }
}
