/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.collection {
    padding: 10px;
    display: flex;
    flex-direction: column;
    &__back {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        &__btn {
            background-color: white;
        }
        &__update {
            position: fixed;
            right: 20px;
        }
    }

    &__title {
        padding: 10px 20px 0;
        &__content {
            display: flex;
            align-items: center;
            gap: 0 10px;
            background-color: white;
            padding: 5px 10px;
            height: 40px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 612px;
            &__display-name {
                font-size: 22px;
                font-weight: bold;
            }
            &__name {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.65);
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        gap: 20px;
        &__visibility {
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.12);
            padding: 15px;
            min-width: 250px;
            &__title {
                font-size: 16px;
                font-weight: 500;
                padding: 5px 0 10px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                gap: 5px 0;
                &__item {
                    display: flex;
                    font-size: 14px;
                    justify-content: space-between;
                    .prop {
                        text-decoration: underline;
                        text-transform: lowercase;
                    }
                    .value {
                    }
                }
            }
        }
        &__params {
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.12);
            padding: 15px;
            min-width: 300px;
            &__title {
                font-size: 16px;
                font-weight: 500;
                padding: 5px 0 10px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                gap: 5px 0;
                &__item {
                    display: flex;
                    font-size: 14px;
                    justify-content: space-between;
                    .prop {
                        text-decoration: underline;
                        text-transform: lowercase;
                    }
                    .value {
                    }
                }
            }
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;

        &__title {
            background-color: white;
            padding: 20px 15px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: unset;
        }

        &__table {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-top: unset;
            .input-display-name {
                height: 24px !important;
            }
        }
    }
}

/* Spinner button */
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #00bcd4;
    animation: spinner 0.8s linear infinite;
}
