<div class="menu_container">
    <div>
        <mat-nav-list>
            <mat-list-item *ngFor="let page of pages" [matTooltip]="page?.name" [routerLink]="page?.link"
                queryParamsHandling="preserve">
                <button mat-icon-button [disabled]="page?.disabled" routerLinkActive="mat-accent">
                  <mat-icon >{{ page?.icon }}</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </div>

    <div>
        <div class="action-list">
            <arlas-tool-link></arlas-tool-link>
        </div>
    </div>
</div>
