.menu_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        padding: 10px;
      }

    .toggler {
      display: flex;
      justify-content: flex-end;
      padding: 15px;
    }
  
    .action-list{
      .disabled-item{
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.26);
        button{
          cursor: not-allowed;
        }
      }
    }
  
    mat-icon {
      padding-right: 5px;
    }
  
    &.hide-label span {
      display: none;
    }
  }
  
.label-action {
display: inline-block !important;
}
.label-user-name{
  display:inline-block!important;
  margin-left:5px
}
.user_info_img{
  vertical-align: middle; 
  height:26px
}