<div *ngIf="action === 'delete'">
    <h2 mat-dialog-title>Delete {{cardName}}?</h2>
    <mat-dialog-content>This will delete {{cardName}} element and cannot be undone.</mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button [mat-dialog-close]="cardId">Delete</button>
    </mat-dialog-actions>
</div>

<div *ngIf="action === 'duplicate'">
    <h2 mat-dialog-title>Duplicate {{cardName}}?</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-form-field">
            <mat-label>New name</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="modal_button" color="primary" [mat-dialog-close]="[value,cardId]">{{ 'Duplicate' }}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' }}</button>
    </div>
</div>