<div *ngIf="useStatic && appReady" class="wrapper">
  <arlas-static-hub></arlas-static-hub>
</div>

<div *ngIf="!useStatic && appReady" class="wrapper">
  <arlas-top-menu [wuiName]="'ARLAS-Hub'">
    <div left-menu class="top-left-menu">
      <div class="logo">
        <img src="assets/hub-icon.png" matTooltip="ARLAS-Hub" />
      </div>
        <arlas-dashboard-search *ngIf="displayMenu" class="search" [searchPlaceholder]="'searchPlaceholder'"></arlas-dashboard-search>
    </div>
    <div right-menu class="title" id="title">
      <mat-divider vertical class="vertical-divider"></mat-divider>
    </div>
  </arlas-top-menu>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" class="sidenav" [class.hide]="!displayMenu" opened>
      <arlas-left-menu *ngIf="displayMenu"></arlas-left-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" [class.full]="!displayMenu">
      <div class="main_content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
