

<div *ngIf="useStatic && appReady">
  <arlas-static-hub></arlas-static-hub>
</div>

<div *ngIf="!useStatic && appReady">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" class="sidenav" [class.hide]="!displayMenu" opened>
      <arlas-left-menu *ngIf="displayMenu"></arlas-left-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" [class.full]="!displayMenu">
      <div class="main_content">
        <div style="padding: 20px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
