
.sidenav{
    width: 73px !important;
}

.sidenav-content{

    background-color: whitesmoke;
    margin-left: 73px !important;

    .main_content {
      width: 100%;
      height: 100vh;

    }
}

