<div *ngIf="action.type === HubAction.CREATE">
  <h2 mat-dialog-title>{{'Add a new dashboard' | translate}}</h2>
  <div mat-dialog-content class="create-dashboard">
      <mat-form-field class="example-form-field">
          <mat-label>{{'Name' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="value" (focus)="errorMessage=''">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>{{'Organisation' | translate}}</mat-label>
        <div class="organisations" *ngIf="action.orgs?.length > 0">
            <mat-select [(value)]="currentOrga" required>
                <mat-option *ngFor="let org of action.orgs" value="{{org.name}}">{{org.displayName}}</mat-option>
            </mat-select>
        </div>
    </mat-form-field>
      <span class="error">{{errorMessage | translate}}</span>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button class="modal_button" [disabled]="!currentOrga" color="primary"
        (click)="create(value, currentOrga)">{{ 'Create' | translate }}</button>
      <button mat-raised-button class="modal_button" [mat-dialog-close]="false">
        {{ 'Cancel' | translate }}</button>
  </div>
</div>

<div *ngIf="action.type === HubAction.IMPORT">
    <h2 mat-dialog-title>{{'Choose an organisation' | translate}}</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-form-field" >
            <mat-label>{{'Organisation' | translate}}</mat-label>
            <div class="organisations" *ngIf="action.orgs?.length > 0">
                <mat-select  [(value)]="currentOrga" required>
                    <mat-option *ngFor="let org of action.orgs" value="{{org.name}}">
                        {{org.displayName}}</mat-option>
                </mat-select>
            </div>
        </mat-form-field>
        <span class="error">{{errorMessage | translate}}</span>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="modal_button" [disabled]="!currentOrga" color="primary" (click)="import()">{{ 'Select' | translate }}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' | translate }}</button>
    </div>
  </div>
