<div class="arlas-search-container">
    <mat-icon class="search">search</mat-icon>
    <div class="search-text"  [class.search-text-empty]="!searchValue">
        <input matInput [formControl]="searchCtrl" [value]="searchCtrl.value" class="full-width-input" autocomplete="off"
               placeholder="{{searchPlaceholder | translate}}" name="search">
    </div>
    <button *ngIf="searchCtrl.value" mat-icon-button type="button"
            (click)="clearSearch()" [matTooltip]="'Remove search text' | translate">
        <mat-icon class="icon">close</mat-icon>
    </button>
</div>
