########################################################
############   AUTHENTICATION SETTINGS   ###############
########################################################
authentication:
  use_authent: true
  force_connect: false
  use_discovery: true
  auth_mode: "iam"
  url: "https://localhost/arlas_iam_server"
  threshold: 60000
  scope: profile
  issuer: https://localhost:9443/auth/realms/arlas
  client_id: arlas-front
  redirect_uri: https://localhost:4200/callback
  silent_refresh_redirect_uri: https://localhost:4200/silent-refresh.html
  require_https: false
  response_type: "code"
  silent_refresh_timeout: 10000
  timeout_factor: 0.75
  session_checks_enabled: false
  clear_hash_after_login: true
  disable_at_hash_check: false
  show_debug_information: true
  login_url: https://localhost:9443/auth/realms/arlas
  logout_url: https://localhost:9443/auth/realms/arlas/protocol/openid-connect/logout
  storage: memorystorage
  custom_query_params: [{"audience":"http://arlas.io/api/server"}]
  sign_up_enabled: true

server:
  url: https://localhost/arlas/server

########################################################
############   Persistence SETTINGS   ##################
########################################################
persistence:
  url: https://localhost/persist
########################################################
############   Permissions SETTINGS   ##################
########################################################
permission:
  url: https://localhost/arlas_permissions_server
arlas_wui_url: "https://localhost/wui"
arlas_builder_url: "https://localhost/builder"
links: []
tab_name: "ARLAS Wui hub Dev"
