########################################################
############   AUTHENTICATION SETTINGS   ###############
########################################################
authentication:
  use_authent: true
  force_connect: false
  use_discovery: true
  redirect_uri: http://localhost:4200/callback
  silent_refresh_redirect_uri: http://localhost:4200/silent-refresh.html
  issuer: https://arlas-cloud-abc.eu.auth0.com/
  client_id: 9mIJ966gS95riVkYJESrudLEq3D5S2os
  scope: "openid profile"
  require_https: true
  response_type: "id_token token"
  silent_refresh_timeout: 5000
  timeout_factor: 0.5
  session_checks_enabled: true
  clear_hash_after_login: true
  disable_at_hash_check: false
  show_debug_information: true
