########################################################
############   AUTHENTICATION SETTINGS   ###############
########################################################
authentication:
  use_authent: true
  force_connect: false
  use_discovery: false
  auth_mode: 'iam'
  url: https://cloud.arlas.io/arlas/iam
  threshold: 60000
  scope: openid
  issuer: http://localhost/auth/realms/arlas
  client_id: arlasfrontend
  redirect_uri: http://localhost:4200/callback
  silent_refresh_redirect_uri: http://localhost:4200/silent-refresh.html
  require_https: false
  response_type: "code"
  silent_refresh_timeout: 10000
  timeout_factor: 0.75
  session_checks_enabled: false
  clear_hash_after_login: true
  disable_at_hash_check: false
  show_debug_information: true
  login_url: NOT_CONFIGURED
  logout_url: v2/logout?&client_id=&federated=true&returnTo=http://localhost:4200/
  storage: sessionstorage
  custom_query_params: [{"audience":"http://arlas.io/api/server"}]
  sign_up_enabled: true

server:
  url: https://cloud.arlas.io/arlas/server

########################################################
############   Persistence SETTINGS   ##################
########################################################
persistence:
  url: https://cloud.arlas.io/arlas/persistence
########################################################
############   Permissions SETTINGS   ##################
########################################################
permission:
  url: https://cloud.arlas.io/arlas/permissions
arlas_wui_url: "http://localhost:4200"
arlas_builder_url: "http://localhost:4200"
links: []
tab_name: "ARLAS Wui hub Dev"
