/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  margin: 0% !important;
  padding: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

.mat-card-content{
  margin-bottom: 0 !important;
}

.mat-card-actions{
  float: right;
}
