name: CI

on:
  push:

jobs:
  build:
    name: Lint, Licence, Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: License check
        run: npm run license-check
      - name: Build
        run: npm run build
      ## Spent a lot of time trying to fix this error :
      # Chrome Headless 121.0.6167.160 (Linux x86_64) ERROR An error was thrown in afterAll
      #- name: Test
      #  run: npm run test
